<div class="portfolio-modal modal fade" id="portfolioModal$id$" tabindex="-1" role="dialog" aria-hidden="true" style="border:1px solid #e0e5e6;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <!--<div class="lr">
                    <div class="rl">
                    </div>
                </div>-->
                <button type="button" class="btn btn-default"   aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="modal-body">
                            <!--<h2>$title$</h2>
                            <hr class="star-primary">-->
                            <img src="$image$" class="img-responsive img-centered" alt="">
                            <p style="text-align:justify">$description$</p>
                            <ul class="list-inline item-details">
                                <li>
                                    Client:
                                    <strong><a style="color:#336699;" href="$sitelink$" target="_blank">$client$</a></strong>
                                </li>
                                <!--<li>Date:
                                    <strong><a href="$sitelink$" target="_blank">$date$</a></strong>
                                </li>
                                <li>Service:
                                    <strong><a href="$sitelink$" target="_blank">$service$</a></strong>
                                </li>-->
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>